#cursos{
    padding-top: 6rem;
    background-color: #00000003;
    width: 100vw;
    height: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
}

#cursos .helper{
    width: 80vw;
}

#cursos .botones{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    overflow-x: auto;
    width: 96vw;
}

#cursos .botones button{
    background-color: #00000003;
    border: 1px #00000028 solid;
    border-radius: 35px;
    padding: 0.5rem;
}
#cursos .botones #active{
    background-color: #a826b919;
}
#cursos .botones button:hover{
    border: 1px #a826b9b1 solid;   
}

#cursos .contenido{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

#cursos .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.125); /* Sombra */
    border-radius: 10px;
    background-color: white;
    width: 18vw;
    height: auto;
    min-width: 350px;
    max-width: 500px;
}
#cursos .card img {
    height: 20vh;
    min-height: 7rem;
    border-top-right-radius: 10px; /* Aplica el mismo borde redondeado a la imagen */
    border-top-left-radius: 10px; /* Aplica el mismo borde redondeado a la imagen */
    object-fit: cover; /* Ajusta la imagen para que no se deforme */
    margin-bottom: 0.4rem;
}
#card-info {
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 10% 60%;
    column-gap: 30px;
    align-items: center;
}
#card-info .carrito {
    grid-column: 2; /* Segunda columna */
    grid-row: 3; /* Tercera fila */
    display: flex;
    border-radius: 50px;
    width: 90%;
    margin-left: -15px;
    height: auto;
}
.carrito .add-to-cart{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    border-radius: 50px;
    font-weight: 600;
    text-align: left;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#card-info .link {
    font-size: large;
    font-weight: 700;
    padding-right: auto;
    color: black;
    text-decoration: none;
}
#card-info .link:hover {
    text-decoration: underline; /* Subrayado al hacer hover */
}
#card-info .categoria {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    background-color: rgba(0, 0, 0, 0.033);
    border: 1px rgba(0, 0, 0, 0.214) solid;
    
    padding: 0.2rem;
    border-radius: 50px;
    width: 4rem;
    text-align: center;
}
#card-info .profesor {
    color: gray;
}
#profe{
    display: flex;
    gap: 0.2rem;
}

#card-info .precio {
    grid-column: 1; /* Segunda columna */
    grid-row: 3; /* Tercera fila */
    font-size: 2rem;
}
@media (max-width: 768px) {
    #cursos{
        margin-left: -1rem
    }
}