/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Ajustado a 100% para eliminar los márgenes laterales */
    height: 86vh;
    text-align: center;
    background: url('https://images.pexels.com/photos/3880775/pexels-photo-3880775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') center/cover no-repeat;
    position: relative;
    overflow: hidden;
    margin-top: 3px;
    padding-top: 10rem 
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según lo necesario */
    z-index: 1;
/* Superposición para mejorar la legibilidad */
}

/* Hero Content */
.hero-content {
    max-width: 600px;
    padding: 2rem;
    position: relative;
    z-index: 2;
    margin-bottom: 19rem;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

/* Hero Button */
.hero-button {
    border: 1px solid #5a11644d;
    background-color: #a826b972;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 4px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.hero-button:hover {
    background-color: #a826b9b2;
}

.hero-button.secondary-button {
    border: 1px solid #f8bb1f90;
    background-color: #f8bb1f26;
}

.hero-button.secondary-button:hover {
    border: 1px solid #f8bb1f;
    background-color: #f8bb1fae;
}

.button-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 8px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
}


@media (max-width: 800px) {
    .hero {
        height: 56vh;
        width: 100vw; /* Mantén la anchura completa */
        display: flex;
        align-items: center;
        justify-content: center; /* Centrar horizontalmente */
    }

    .hero-content {
        max-width: 90%; /* Ajusta ligeramente el ancho para mayor legibilidad */
        padding: 1rem;
        margin-bottom: 1rem; /* Reduce el margen inferior */
        margin-top: -5rem; /* Mueve el contenido hacia arriba */
    }

    .hero-content h1 {
        font-size: 2rem; /* Texto más pequeño para dispositivos móviles */
        margin-bottom: 2rem; /* Reduce el espacio inferior del título */
    }

    .hero-content p {
        font-size: 0.9rem; /* Ajusta el tamaño del texto */
        margin-bottom: 1rem; /* Reduce el espacio entre párrafo y botones */
    }

    .hero-button {
        padding: 0.5rem 1rem; /* Botones más pequeños */
        font-size: 0.9rem; /* Texto del botón reducido */
    }

    .hero-buttons {
        display: flex;
        gap: 0.5rem; /* Agrega espacio entre los botones */
    }
}

