#equipo{
    background-color: #00000003;
    padding-top: 5rem;
    width: 100vw;
    height: auto;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#equipo >p {
    margin-bottom: 2rem;
    text-align: center;
}
#equipo >h1 {
    text-align: center;
}
#personas-helper{
    text-align: center;
    width: 70vw;
    max-width: 1900px;
    min-width: 1600px;
}
#personas{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 10%;
}
#personas .card{
    border: 1px solid #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    width: 10rem;
}
#personas .card img{
    height: auto;
    width :  100px;
}

@media (max-width: 1200px) {
    #personas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 2rem;
        padding-left: 0px;
        margin-left: -6px;
    }
    #personas .card {
        width: 75%;
    }
    #membresia > h1{
        color: black;
        text-align: center;
        font-size: 140%;
    }
    

}


