#equipo{
    background-color: #00000003;
    padding-top: 5rem;
    width: 100vw;
    height: auto;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#equipo >p {
    margin-bottom: 2rem;
    text-align: center;
}
#equipo >h1 {
    text-align: center;
}

#personas{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80vw;
    padding-left: 10%;
    text-align: center;
}
#personas .card{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 1rem;
    width: 13vw;
    min-width: 250px;

}

#equipo .card img{
    width: 120px;
    height: auto;
}  

@media (max-width: 800px) {
    #personas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 2rem;
        padding-left: 0px;
    }
    #personas .card {
        width: 75%;
    }
    #membresia > h1{
        color: black;
        text-align: center;
        font-size: 140%;
    }
    

}


