.nosotros {
    margin: 1rem;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    gap: 5%; 
}
.nosotros h1{
    text-align: center;
}
.video{
    flex: 0.65;
    height: auto; /* Adjusts the height automatically to maintain aspect ratio */
    aspect-ratio: 16 / 9; /* Ensures the video keeps a 16:9 aspect ratio */
    min-width: 400px;
    max-width: 900px;
}
.descripcion {
    flex: 0.3;
}
@media (max-width: 1200px) {
    .nosotros {
        flex-direction: column; /* Coloca los elementos uno encima del otro */
        align-items: center; /* Centra los elementos */
        margin: 5%;
        padding-top: 3rem;
        padding-left: 0.5rem;        
        padding-right: 0.5rem;        
    }
    
    .test, .video {
        flex: 1 1 100%; /* Ambos elementos ocupan todo el ancho */
        max-width: 100%; /* Evita que excedan el ancho del contenedor */
    }
}